Code/IOT_Project.json
[{"id":"27b290aa.116e6","type":"subflow","name":"Sensors simulator slot2","info":"","category":"","in":[],"out":[{"x":1520,"y":200,"wires":[{"id":"5a679394.4383dc","port":0},{"id":"3a4f8158.a468ae","port":0},{"id":"e4daaadc.269fd8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"fdd17805.851f28","type":"inject","z":"27b290aa.116e6","name":"inject","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":40,"wires":[["c5f142f.ae460c"]]},{"id":"deaaaa09.b3b4a8","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":140,"y":120,"wires":[["9dff8197.f05ae"]]},{"id":"4165d8bd.d09048","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":200,"wires":[["5a679394.4383dc"]]},{"id":"5a679394.4383dc","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time arrival':flow.get('time_arrival')}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":200,"wires":[[]]},{"id":"c5f142f.ae460c","type":"random","z":"27b290aa.116e6","name":"IR Creator","low":"0","high":"1","inte":"true","property":"payload","x":310,"y":40,"wires":[["deaaaa09.b3b4a8"]]},{"id":"9dff8197.f05ae","type":"switch","z":"27b290aa.116e6","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":240,"wires":[["f83f4561.29b058"],["3a4f8158.a468ae"]]},{"id":"3a4f8158.a468ae","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status':{'value':flow.get('IR_sensor')}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":240,"wires":[[]]},{"id":"72e017ab.2da958","type":"function","z":"27b290aa.116e6","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":200,"wires":[["4165d8bd.d09048"]]},{"id":"f83f4561.29b058","type":"switch","z":"27b290aa.116e6","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":160,"wires":[["e4daaadc.269fd8"],["8929b479.f64d78"]]},{"id":"e4daaadc.269fd8","type":"function","z":"27b290aa.116e6","name":"Previous Values","func":"msg.payload = {'status':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time arrival': flow.get('prev_time_arr')}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":160,"wires":[[]]},{"id":"8929b479.f64d78","type":"function","z":"27b290aa.116e6","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":200,"wires":[["52b876aa.00af78"]]},{"id":"52b876aa.00af78","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["72e017ab.2da958"]]},{"id":"cc4d1a8c.91f328","type":"subflow","name":"Sensors simulator slot1","info":"","category":"","in":[],"out":[{"x":1500,"y":240,"wires":[{"id":"b51797e2.2535f8","port":0},{"id":"737b14da.6a9b9c","port":0},{"id":"448fdacd.3687d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9cd5468c.acf528","type":"inject","z":"cc4d1a8c.91f328","name":"inject","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["ef688cdd.8fb35"]]},{"id":"ed384576.37e448","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":120,"y":160,"wires":[["cddacca3.c45a5"]]},{"id":"f2ac5506.903008","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":240,"wires":[["737b14da.6a9b9c"]]},{"id":"737b14da.6a9b9c","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time arrival':flow.get('time_arrival')}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":240,"wires":[[]]},{"id":"ef688cdd.8fb35","type":"random","z":"cc4d1a8c.91f328","name":"IR Creator","low":"0","high":"1","inte":"true","property":"payload","x":290,"y":80,"wires":[["ed384576.37e448"]]},{"id":"cddacca3.c45a5","type":"switch","z":"cc4d1a8c.91f328","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":120,"y":280,"wires":[["20cb5e03.c9e842"],["448fdacd.3687d4"]]},{"id":"448fdacd.3687d4","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status':{'value':flow.get('IR_sensor')}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":280,"wires":[[]]},{"id":"6531cdd9.640c44","type":"function","z":"cc4d1a8c.91f328","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":240,"wires":[["f2ac5506.903008"]]},{"id":"20cb5e03.c9e842","type":"switch","z":"cc4d1a8c.91f328","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":200,"wires":[["b51797e2.2535f8"],["f20846cf.b78388"]]},{"id":"b51797e2.2535f8","type":"function","z":"cc4d1a8c.91f328","name":"Old Camera","func":"msg.payload = {'status':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time arrival': flow.get('prev_time_arr')}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":200,"wires":[[]]},{"id":"f20846cf.b78388","type":"function","z":"cc4d1a8c.91f328","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":240,"wires":[["54f57e28.8023f"]]},{"id":"54f57e28.8023f","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":240,"wires":[["6531cdd9.640c44"]]},{"id":"c3092910.5750d8","type":"tab","label":"IOT project","disabled":false,"info":""},{"id":"4806c66d.99e3b8","type":"websocket in","z":"c3092910.5750d8","name":"from Rpi","server":"","client":"8c2f51fe.53f5c","x":120,"y":200,"wires":[["61d84f90.5fdd7"]]},{"id":"61d84f90.5fdd7","type":"json","z":"c3092910.5750d8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":200,"wires":[["fe461e1e.2e758","c47e97d6.629f48","e60f525f.cfd7d"]]},{"id":"fbb32a3b.d39068","type":"websocket out","z":"c3092910.5750d8","name":"Rpi out","server":"","client":"8c2f51fe.53f5c","x":400,"y":80,"wires":[],"info":"Rpi of slot 1"},{"id":"b6460aec.782c38","type":"websocket out","z":"c3092910.5750d8","name":"Rpi out","server":"","client":"80c25c49.feaef","x":390,"y":320,"wires":[]},{"id":"a7c9fe1.7851b","type":"websocket in","z":"c3092910.5750d8","name":"from Rpi","server":"","client":"80c25c49.feaef","x":120,"y":420,"wires":[["cab9972.f78b768"]]},{"id":"cab9972.f78b768","type":"json","z":"c3092910.5750d8","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":420,"wires":[["a01f3d75.68f31"]]},{"id":"72294299.d173fc","type":"subflow:cc4d1a8c.91f328","z":"c3092910.5750d8","name":"","env":[],"x":160,"y":80,"wires":[["fbb32a3b.d39068"]]},{"id":"55feb8c1.f9e208","type":"subflow:27b290aa.116e6","z":"c3092910.5750d8","name":"","env":[],"x":160,"y":320,"wires":[["b6460aec.782c38"]]},{"id":"a01f3d75.68f31","type":"function","z":"c3092910.5750d8","name":"Filter","func":"if(!msg.payload.hasOwnProperty('info'))\n    return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[["bc854084.88268","4f32ac80.b54134","83ac49c8.73a938"]]},{"id":"c47e97d6.629f48","type":"ubidots_out","z":"c3092910.5750d8","name":"","token":"BBFF-W8o2CVayWYhLotdpTtNnGXXyIlQBSp","label_device":"","device_label":"raspberry-pi-1","tier":"educational","tls_checkbox":true,"x":530,"y":140,"wires":[]},{"id":"4f32ac80.b54134","type":"ubidots_out","z":"c3092910.5750d8","name":"","token":"BBFF-W8o2CVayWYhLotdpTtNnGXXyIlQBSp","label_device":"","device_label":"raspberry-pi-2","tier":"educational","tls_checkbox":true,"x":590,"y":480,"wires":[]},{"id":"c107c16e.87d21","type":"function","z":"c3092910.5750d8","name":"Count free slots","func":"let count = msg.payload[0]+msg.payload[1]\nmsg.payload = {'Number free slots':count}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":300,"wires":[["9afcad8b.95f2f"]]},{"id":"fe461e1e.2e758","type":"function","z":"c3092910.5750d8","name":"Extract status value","func":"msg.payload = msg.payload.status.value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":200,"wires":[["2fca53b0.117b3c"]]},{"id":"bc854084.88268","type":"function","z":"c3092910.5750d8","name":"Extract status value","func":"msg.payload = msg.payload.status.value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":420,"wires":[["2fca53b0.117b3c"]]},{"id":"2fca53b0.117b3c","type":"join","z":"c3092910.5750d8","name":"Merge payload","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":820,"y":300,"wires":[["c107c16e.87d21"]]},{"id":"9afcad8b.95f2f","type":"ubidots_out","z":"c3092910.5750d8","name":"","token":"BBFF-W8o2CVayWYhLotdpTtNnGXXyIlQBSp","label_device":"","device_label":"System","tier":"educational","tls_checkbox":true,"x":1230,"y":300,"wires":[]},{"id":"83ac49c8.73a938","type":"debug","z":"c3092910.5750d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":540,"wires":[]},{"id":"e60f525f.cfd7d","type":"debug","z":"c3092910.5750d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"8c2f51fe.53f5c","type":"websocket-client","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"},{"id":"80c25c49.feaef","type":"websocket-client","path":"wss://demo.piesocket.com/v3/channel_1?api_key=oCdCMcMPQpbvNjUIzqtvF1d2X2okWpDQj4AwARJuAgtjhzKxVEjQU6IdCjwm&notify_self","tls":"","wholemsg":"false"}]