Code/Smart_Parking.json
[{"id":"27b290aa.116e6","type":"subflow","name":"Sensors simulator area 2","info":"","category":"","in":[],"out":[{"x":1540,"y":240,"wires":[{"id":"b308489a.390bf8","port":0},{"id":"72beb907.9f3cd8","port":0},{"id":"2d76bd42.b0ba62","port":0}]},{"x":1540,"y":540,"wires":[{"id":"b8c896a4.e3dd78","port":0},{"id":"48e59347.4a333c","port":0},{"id":"fb77682e.96d408","port":0}]},{"x":1540,"y":840,"wires":[{"id":"1c36e2b0.324b7d","port":0},{"id":"78a594ac.f47d3c","port":0},{"id":"1815c580.899a2b","port":0}]},{"x":1540,"y":1160,"wires":[{"id":"b5002d0d.35a46","port":0},{"id":"fc2069b0.0aa918","port":0},{"id":"cb3da906.ae09d8","port":0}]},{"x":1540,"y":1480,"wires":[{"id":"b4cdb911.76e508","port":0},{"id":"d79ca135.75621","port":0},{"id":"a795d922.c29668","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a7041032.b6ccb","type":"inject","z":"27b290aa.116e6","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":80,"wires":[["ff275a24.8b4d18"]]},{"id":"29ff49f3.a14496","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":220,"y":160,"wires":[["6eea93c0.b4304c"]]},{"id":"6eea93c0.b4304c","type":"switch","z":"27b290aa.116e6","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":280,"wires":[["546817a5.bd1e78"],["2d76bd42.b0ba62"]]},{"id":"9fdcafb1.f2cf7","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":240,"wires":[["72beb907.9f3cd8"]]},{"id":"72beb907.9f3cd8","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status1':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot': 1}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":240,"wires":[[]]},{"id":"ff275a24.8b4d18","type":"random","z":"27b290aa.116e6","name":"IR Creator slot1","low":"0","high":"1","inte":"true","property":"payload","x":360,"y":80,"wires":[["29ff49f3.a14496"]]},{"id":"2d76bd42.b0ba62","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status1':{'value':flow.get('IR_sensor'), 'context':{'slot':1}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":280,"wires":[[]]},{"id":"ab962af3.e3b338","type":"function","z":"27b290aa.116e6","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":240,"wires":[["9fdcafb1.f2cf7"]]},{"id":"546817a5.bd1e78","type":"switch","z":"27b290aa.116e6","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":200,"wires":[["b308489a.390bf8"],["8f9344d2.573d98"]]},{"id":"b308489a.390bf8","type":"function","z":"27b290aa.116e6","name":"Old Camera","func":"msg.payload = {'status1':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot': 1}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":200,"wires":[[]]},{"id":"8f9344d2.573d98","type":"function","z":"27b290aa.116e6","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":240,"wires":[["84155171.98715"]]},{"id":"84155171.98715","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":240,"wires":[["ab962af3.e3b338"]]},{"id":"f05241f7.b8512","type":"inject","z":"27b290aa.116e6","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":380,"wires":[["a4dba8e4.019458"]]},{"id":"700a5609.2aeec8","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":220,"y":460,"wires":[["764103ec.bc673c"]]},{"id":"764103ec.bc673c","type":"switch","z":"27b290aa.116e6","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":580,"wires":[["ca1da624.194c68"],["fb77682e.96d408"]]},{"id":"9ded6937.ae9268","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":540,"wires":[["48e59347.4a333c"]]},{"id":"48e59347.4a333c","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status2':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot': 2}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":540,"wires":[[]]},{"id":"a4dba8e4.019458","type":"random","z":"27b290aa.116e6","name":"IR Creator slot2","low":"0","high":"1","inte":"true","property":"payload","x":360,"y":380,"wires":[["700a5609.2aeec8"]]},{"id":"fb77682e.96d408","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status2':{'value':flow.get('IR_sensor'), 'context':{'slot':2}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":580,"wires":[[]]},{"id":"209b16ff.4f589a","type":"function","z":"27b290aa.116e6","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":540,"wires":[["9ded6937.ae9268"]]},{"id":"ca1da624.194c68","type":"switch","z":"27b290aa.116e6","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":500,"wires":[["b8c896a4.e3dd78"],["82bb4de1.59ccf"]]},{"id":"b8c896a4.e3dd78","type":"function","z":"27b290aa.116e6","name":"Old Camera","func":"msg.payload = {'status2':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot': 2}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":500,"wires":[[]]},{"id":"82bb4de1.59ccf","type":"function","z":"27b290aa.116e6","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":540,"wires":[["feb2af89.8420f"]]},{"id":"feb2af89.8420f","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":540,"wires":[["209b16ff.4f589a"]]},{"id":"15c9f0d4.6a8f0f","type":"inject","z":"27b290aa.116e6","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":680,"wires":[["df60d5fc.b719a8"]]},{"id":"6108e915.867ef8","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":220,"y":760,"wires":[["771d7e08.419df"]]},{"id":"771d7e08.419df","type":"switch","z":"27b290aa.116e6","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":880,"wires":[["eab128a7.1d8e18"],["1815c580.899a2b"]]},{"id":"598e6c9f.de52c4","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":840,"wires":[["78a594ac.f47d3c"]]},{"id":"78a594ac.f47d3c","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status3':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot': 3}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":840,"wires":[[]]},{"id":"df60d5fc.b719a8","type":"random","z":"27b290aa.116e6","name":"IR Creator slot3","low":"0","high":"1","inte":"true","property":"payload","x":360,"y":680,"wires":[["6108e915.867ef8"]]},{"id":"1815c580.899a2b","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status3':{'value':flow.get('IR_sensor'), 'context':{'slot': 3}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":880,"wires":[[]]},{"id":"a120aecd.0a9b3","type":"function","z":"27b290aa.116e6","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":840,"wires":[["598e6c9f.de52c4"]]},{"id":"eab128a7.1d8e18","type":"switch","z":"27b290aa.116e6","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":800,"wires":[["1c36e2b0.324b7d"],["a06e60ae.33356"]]},{"id":"1c36e2b0.324b7d","type":"function","z":"27b290aa.116e6","name":"Old Camera","func":"msg.payload = {'status3':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot': 3}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":800,"wires":[[]]},{"id":"a06e60ae.33356","type":"function","z":"27b290aa.116e6","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":840,"wires":[["ce48b5e3.ae9548"]]},{"id":"ce48b5e3.ae9548","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":840,"wires":[["a120aecd.0a9b3"]]},{"id":"4a27970a.a1abf8","type":"inject","z":"27b290aa.116e6","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":1000,"wires":[["b4214759.fb1c78"]]},{"id":"42a709.5b4cd8f8","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":220,"y":1080,"wires":[["c0f5a315.6076a"]]},{"id":"c0f5a315.6076a","type":"switch","z":"27b290aa.116e6","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":1200,"wires":[["d02347f0.c19438"],["cb3da906.ae09d8"]]},{"id":"e4d6bc48.ded9b","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1160,"wires":[["fc2069b0.0aa918"]]},{"id":"fc2069b0.0aa918","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status4':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot':4}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1160,"wires":[[]]},{"id":"b4214759.fb1c78","type":"random","z":"27b290aa.116e6","name":"IR Creator slot4","low":"0","high":"1","inte":"true","property":"payload","x":360,"y":1000,"wires":[["42a709.5b4cd8f8"]]},{"id":"cb3da906.ae09d8","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status4':{'value':flow.get('IR_sensor'), 'context':{'slot': 4}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1200,"wires":[[]]},{"id":"e3562138.b28b9","type":"function","z":"27b290aa.116e6","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1160,"wires":[["e4d6bc48.ded9b"]]},{"id":"d02347f0.c19438","type":"switch","z":"27b290aa.116e6","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":1120,"wires":[["b5002d0d.35a46"],["43dec44e.b7594c"]]},{"id":"b5002d0d.35a46","type":"function","z":"27b290aa.116e6","name":"Old Camera","func":"msg.payload = {'status4':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot': 4}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":1120,"wires":[[]]},{"id":"43dec44e.b7594c","type":"function","z":"27b290aa.116e6","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1160,"wires":[["5b2a0b5c.8e08b4"]]},{"id":"5b2a0b5c.8e08b4","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1160,"wires":[["e3562138.b28b9"]]},{"id":"f32559d7.b00ff8","type":"inject","z":"27b290aa.116e6","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":1320,"wires":[["e13c7559.e51178"]]},{"id":"6ada4386.3fb01c","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":220,"y":1400,"wires":[["d7792c9d.357b2"]]},{"id":"d7792c9d.357b2","type":"switch","z":"27b290aa.116e6","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":1520,"wires":[["d5a47b37.c55c08"],["a795d922.c29668"]]},{"id":"9a43d450.278788","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1480,"wires":[["d79ca135.75621"]]},{"id":"d79ca135.75621","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status5':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot': 5}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1480,"wires":[[]]},{"id":"e13c7559.e51178","type":"random","z":"27b290aa.116e6","name":"IR Creator slot5","low":"0","high":"1","inte":"true","property":"payload","x":360,"y":1320,"wires":[["6ada4386.3fb01c"]]},{"id":"a795d922.c29668","type":"function","z":"27b290aa.116e6","name":"","func":"msg.payload = {'status5':{'value':flow.get('IR_sensor'), 'context':{'slot': 5}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1520,"wires":[[]]},{"id":"e9fc055e.c118a8","type":"function","z":"27b290aa.116e6","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1480,"wires":[["9a43d450.278788"]]},{"id":"d5a47b37.c55c08","type":"switch","z":"27b290aa.116e6","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":1440,"wires":[["b4cdb911.76e508"],["d2db7367.92284"]]},{"id":"b4cdb911.76e508","type":"function","z":"27b290aa.116e6","name":"Old Camera","func":"msg.payload = {'status5':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot':5}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":1440,"wires":[[]]},{"id":"d2db7367.92284","type":"function","z":"27b290aa.116e6","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1480,"wires":[["98955dfd.6eb4"]]},{"id":"98955dfd.6eb4","type":"function","z":"27b290aa.116e6","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1480,"wires":[["e9fc055e.c118a8"]]},{"id":"cc4d1a8c.91f328","type":"subflow","name":"Sensors simulator area 1","info":"","category":"","in":[],"out":[{"x":1500,"y":240,"wires":[{"id":"737b14da.6a9b9c","port":0},{"id":"448fdacd.3687d4","port":0},{"id":"b51797e2.2535f8","port":0}]},{"x":1480,"y":540,"wires":[{"id":"9e673609.11a668","port":0},{"id":"d68388e5.cfc9c8","port":0},{"id":"fbf7dfe8.d3abc","port":0}]},{"x":1480,"y":840,"wires":[{"id":"a1549224.10088","port":0},{"id":"427e81bf.a1fe8","port":0},{"id":"2c2f8a17.836006","port":0}]},{"x":1480,"y":1160,"wires":[{"id":"f2bfc39d.eb85b","port":0},{"id":"82532631.606828","port":0},{"id":"f610abad.607958","port":0}]},{"x":1480,"y":1480,"wires":[{"id":"4182a3a7.e2d5fc","port":0},{"id":"cfb8c57f.3631a8","port":0},{"id":"1cdb08a0.1816d7","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9cd5468c.acf528","type":"inject","z":"cc4d1a8c.91f328","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["ef688cdd.8fb35"]]},{"id":"ed384576.37e448","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":160,"y":160,"wires":[["cddacca3.c45a5"]]},{"id":"cddacca3.c45a5","type":"switch","z":"cc4d1a8c.91f328","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":120,"y":280,"wires":[["20cb5e03.c9e842"],["448fdacd.3687d4"]]},{"id":"f2ac5506.903008","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":240,"wires":[["737b14da.6a9b9c"]]},{"id":"737b14da.6a9b9c","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status1':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot': 1}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":240,"wires":[[]]},{"id":"ef688cdd.8fb35","type":"random","z":"cc4d1a8c.91f328","name":"IR Creator slot1","low":"0","high":"1","inte":"true","property":"payload","x":300,"y":80,"wires":[["ed384576.37e448"]]},{"id":"448fdacd.3687d4","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status1':{'value':flow.get('IR_sensor'), 'context':{'slot':1}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":280,"wires":[[]]},{"id":"6531cdd9.640c44","type":"function","z":"cc4d1a8c.91f328","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":240,"wires":[["f2ac5506.903008"]]},{"id":"20cb5e03.c9e842","type":"switch","z":"cc4d1a8c.91f328","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":200,"wires":[["b51797e2.2535f8"],["f20846cf.b78388"]]},{"id":"b51797e2.2535f8","type":"function","z":"cc4d1a8c.91f328","name":"Old Camera","func":"msg.payload = {'status1':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot': 1}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":200,"wires":[[]]},{"id":"f20846cf.b78388","type":"function","z":"cc4d1a8c.91f328","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":240,"wires":[["54f57e28.8023f"]]},{"id":"54f57e28.8023f","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":240,"wires":[["6531cdd9.640c44"]]},{"id":"beeae73b.ab0ca8","type":"inject","z":"cc4d1a8c.91f328","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":380,"wires":[["d9138126.1dfe3"]]},{"id":"c91b6496.ac4118","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":160,"y":460,"wires":[["393b589e.5c8698"]]},{"id":"393b589e.5c8698","type":"switch","z":"cc4d1a8c.91f328","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":120,"y":580,"wires":[["3c29f0c4.54f"],["fbf7dfe8.d3abc"]]},{"id":"9d6ba4da.fa55e8","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":540,"wires":[["d68388e5.cfc9c8"]]},{"id":"d68388e5.cfc9c8","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status2':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot': 2}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":540,"wires":[[]]},{"id":"d9138126.1dfe3","type":"random","z":"cc4d1a8c.91f328","name":"IR Creator slot2","low":"0","high":"1","inte":"true","property":"payload","x":300,"y":380,"wires":[["c91b6496.ac4118"]]},{"id":"fbf7dfe8.d3abc","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status2':{'value':flow.get('IR_sensor'), 'context':{'slot':2}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":580,"wires":[[]]},{"id":"a6168d0a.3f6e8","type":"function","z":"cc4d1a8c.91f328","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":540,"wires":[["9d6ba4da.fa55e8"]]},{"id":"3c29f0c4.54f","type":"switch","z":"cc4d1a8c.91f328","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":500,"wires":[["9e673609.11a668"],["4db089e0.ae8b98"]]},{"id":"9e673609.11a668","type":"function","z":"cc4d1a8c.91f328","name":"Old Camera","func":"msg.payload = {'status2':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot': 2}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":500,"wires":[[]]},{"id":"4db089e0.ae8b98","type":"function","z":"cc4d1a8c.91f328","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":540,"wires":[["c381d420.e88238"]]},{"id":"c381d420.e88238","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":540,"wires":[["a6168d0a.3f6e8"]]},{"id":"3704467.3563dba","type":"inject","z":"cc4d1a8c.91f328","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":680,"wires":[["6506dfc1.bc215"]]},{"id":"c15e3197.758a7","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":160,"y":760,"wires":[["5ae47932.39f748"]]},{"id":"5ae47932.39f748","type":"switch","z":"cc4d1a8c.91f328","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":120,"y":880,"wires":[["1306e53a.344b1b"],["2c2f8a17.836006"]]},{"id":"c7e888b8.dd3318","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":840,"wires":[["427e81bf.a1fe8"]]},{"id":"427e81bf.a1fe8","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status3':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot': 3}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":840,"wires":[[]]},{"id":"6506dfc1.bc215","type":"random","z":"cc4d1a8c.91f328","name":"IR Creator slot3","low":"0","high":"1","inte":"true","property":"payload","x":300,"y":680,"wires":[["c15e3197.758a7"]]},{"id":"2c2f8a17.836006","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status3':{'value':flow.get('IR_sensor'), 'context':{'slot': 3}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":880,"wires":[[]]},{"id":"a38a81d5.a456b","type":"function","z":"cc4d1a8c.91f328","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":840,"wires":[["c7e888b8.dd3318"]]},{"id":"1306e53a.344b1b","type":"switch","z":"cc4d1a8c.91f328","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":800,"wires":[["a1549224.10088"],["2df53d40.203102"]]},{"id":"a1549224.10088","type":"function","z":"cc4d1a8c.91f328","name":"Old Camera","func":"msg.payload = {'status3':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot': 3}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":800,"wires":[[]]},{"id":"2df53d40.203102","type":"function","z":"cc4d1a8c.91f328","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":840,"wires":[["c6f6a294.e7a1"]]},{"id":"c6f6a294.e7a1","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":840,"wires":[["a38a81d5.a456b"]]},{"id":"19c1735c.e2bdfd","type":"inject","z":"cc4d1a8c.91f328","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":1000,"wires":[["a2e8d8ec.7feac8"]]},{"id":"323bd66f.fee29a","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":160,"y":1080,"wires":[["cc88cbcf.186d48"]]},{"id":"cc88cbcf.186d48","type":"switch","z":"cc4d1a8c.91f328","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":120,"y":1200,"wires":[["23bf9f95.5c81"],["f610abad.607958"]]},{"id":"56aafd50.dc9434","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1160,"wires":[["82532631.606828"]]},{"id":"82532631.606828","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status4':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot':4}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1160,"wires":[[]]},{"id":"a2e8d8ec.7feac8","type":"random","z":"cc4d1a8c.91f328","name":"IR Creator slot4","low":"0","high":"1","inte":"true","property":"payload","x":300,"y":1000,"wires":[["323bd66f.fee29a"]]},{"id":"f610abad.607958","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status4':{'value':flow.get('IR_sensor'), 'context':{'slot': 4}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1200,"wires":[[]]},{"id":"1fef6097.0e83bf","type":"function","z":"cc4d1a8c.91f328","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1160,"wires":[["56aafd50.dc9434"]]},{"id":"23bf9f95.5c81","type":"switch","z":"cc4d1a8c.91f328","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":1120,"wires":[["f2bfc39d.eb85b"],["7b442355.0ceb9c"]]},{"id":"f2bfc39d.eb85b","type":"function","z":"cc4d1a8c.91f328","name":"Old Camera","func":"msg.payload = {'status4':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot': 4}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":1120,"wires":[[]]},{"id":"7b442355.0ceb9c","type":"function","z":"cc4d1a8c.91f328","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1160,"wires":[["4c711f8b.c9062"]]},{"id":"4c711f8b.c9062","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1160,"wires":[["1fef6097.0e83bf"]]},{"id":"35d6a6de.278a7a","type":"inject","z":"cc4d1a8c.91f328","name":"inject","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":1320,"wires":[["9cf99c92.a0d04"]]},{"id":"9f6ba3d8.8bbc8","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('IR_sensor', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('prev_IR', 1)","finalize":"","x":160,"y":1400,"wires":[["6a65df82.46ba1"]]},{"id":"6a65df82.46ba1","type":"switch","z":"cc4d1a8c.91f328","name":"Check car","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":120,"y":1520,"wires":[["fff4e91d.97f8c8"],["1cdb08a0.1816d7"]]},{"id":"1a5fd7df.894258","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('Camera',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1480,"wires":[["cfb8c57f.3631a8"]]},{"id":"cfb8c57f.3631a8","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status5':{'value':flow.get('IR_sensor'), \"context\":{'plate':flow.get('Camera'), 'time_arrival':flow.get('time_arrival'), 'slot': 5}}};\nmsg.headers = {'Content-type':'application/json'};\nflow.set('prev_Camera', flow.get('Camera'));\nflow.set('prev_IR', flow.get('IR_sensor'));\nflow.set('prev_time_arr', flow.get('time_arrival'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1480,"wires":[[]]},{"id":"9cf99c92.a0d04","type":"random","z":"cc4d1a8c.91f328","name":"IR Creator slot5","low":"0","high":"1","inte":"true","property":"payload","x":300,"y":1320,"wires":[["9f6ba3d8.8bbc8"]]},{"id":"1cdb08a0.1816d7","type":"function","z":"cc4d1a8c.91f328","name":"","func":"msg.payload = {'status5':{'value':flow.get('IR_sensor'), 'context':{'slot': 5}}};\nmsg.headers = {'Content-type':'application/json'}\nflow.set('prev_IR', flow.get('IR_sensor'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1520,"wires":[[]]},{"id":"6de42fdc.20135","type":"function","z":"cc4d1a8c.91f328","name":"Camera Creator","func":"var result = '';\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nvar charactersLength = characters.length;\nvar length = 7;\nfor ( var i = 0; i < length; i++ ) {\n     result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1480,"wires":[["1a5fd7df.894258"]]},{"id":"fff4e91d.97f8c8","type":"switch","z":"cc4d1a8c.91f328","name":"New Car?","property":"prev_IR","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":1440,"wires":[["4182a3a7.e2d5fc"],["327c7f18.e2589"]]},{"id":"4182a3a7.e2d5fc","type":"function","z":"cc4d1a8c.91f328","name":"Old Camera","func":"msg.payload = {'status5':{'value':flow.get('prev_IR'), \"context\":{'plate':flow.get('prev_Camera'), 'time_arrival': flow.get('prev_time_arr'), 'slot':5}}};\nmsg.headers = {'Content-type':'application/json'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":1440,"wires":[[]]},{"id":"327c7f18.e2589","type":"function","z":"cc4d1a8c.91f328","name":"Timestamp arrival Creator","func":"msg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1480,"wires":[["d0137f48.0b209"]]},{"id":"d0137f48.0b209","type":"function","z":"cc4d1a8c.91f328","name":"","func":"flow.set('time_arrival', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1480,"wires":[["6de42fdc.20135"]]},{"id":"c3092910.5750d8","type":"tab","label":"IOT project","disabled":false,"info":""},{"id":"61d84f90.5fdd7","type":"json","z":"c3092910.5750d8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":280,"wires":[["fe461e1e.2e758","e3e2dcd8.ce406","be8432fa.0a651","5a2dd3bc.8454ac","6f34da61.1fe754","383d7b89.36cc34"]]},{"id":"b6460aec.782c38","type":"websocket out","z":"c3092910.5750d8","name":"Rpi out","server":"","client":"80c25c49.feaef","x":400,"y":560,"wires":[]},{"id":"a7c9fe1.7851b","type":"websocket in","z":"c3092910.5750d8","name":"from Rpi","server":"","client":"80c25c49.feaef","x":80,"y":780,"wires":[["cab9972.f78b768"]]},{"id":"cab9972.f78b768","type":"json","z":"c3092910.5750d8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":780,"wires":[["a01f3d75.68f31"]]},{"id":"72294299.d173fc","type":"subflow:cc4d1a8c.91f328","z":"c3092910.5750d8","name":"","env":[],"x":170,"y":80,"wires":[["51db60d0.615f9"],["51db60d0.615f9"],["51db60d0.615f9"],["51db60d0.615f9"],["51db60d0.615f9"]]},{"id":"55feb8c1.f9e208","type":"subflow:27b290aa.116e6","z":"c3092910.5750d8","name":"","env":[],"x":170,"y":560,"wires":[["b6460aec.782c38"],["b6460aec.782c38"],["b6460aec.782c38"],["b6460aec.782c38"],["b6460aec.782c38"]]},{"id":"a01f3d75.68f31","type":"function","z":"c3092910.5750d8","name":"Filter","func":"if(msg.payload.hasOwnProperty('status1') || msg.payload.hasOwnProperty('status2') ||\n   msg.payload.hasOwnProperty('status3') || msg.payload.hasOwnProperty('status4') ||\n   msg.payload.hasOwnProperty('status5'))\n    return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":780,"wires":[["61e5326.894a6cc","fb092491.8b3008","4eb2efe9.3e0bb","99f06258.fdf77","572a4b01.7a3014","6a6a295.ea790d8"]]},{"id":"fe461e1e.2e758","type":"function","z":"c3092910.5750d8","name":"Extract status1 value","func":"if (msg.payload.hasOwnProperty('status1')){\n    var slot1 = msg.payload.status1.value;\n}\n\nmsg.payload = slot1;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["20849d33.f1b2d2"]]},{"id":"383d7b89.36cc34","type":"ubidots_out","z":"c3092910.5750d8","name":"","token":"BBFF-Y9AJUzXCqGyZJGN67LnftQS9qfeajX","label_device":"","device_label":"raspberry-pi-1","tier":"educational","tls_checkbox":true,"x":490,"y":460,"wires":[]},{"id":"6a6a295.ea790d8","type":"ubidots_out","z":"c3092910.5750d8","name":"","token":"BBFF-qcgnHWNo9lPEXKKqpbY0loHyORoAKt","label_device":"","device_label":"raspberry-pi-2","tier":"educational","tls_checkbox":true,"x":610,"y":960,"wires":[]},{"id":"51db60d0.615f9","type":"websocket out","z":"c3092910.5750d8","name":"Rpi out","server":"","client":"8c2f51fe.53f5c","x":400,"y":80,"wires":[]},{"id":"c30f92c3.bdc8c","type":"websocket in","z":"c3092910.5750d8","name":"from Rpi","server":"","client":"8c2f51fe.53f5c","x":100,"y":280,"wires":[["61d84f90.5fdd7"]]},{"id":"20849d33.f1b2d2","type":"join","z":"c3092910.5750d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":280,"wires":[["54e47f20.e7ab4"]]},{"id":"e3e2dcd8.ce406","type":"function","z":"c3092910.5750d8","name":"Extract status2 value","func":"if (msg.payload.hasOwnProperty('status2')){\n   var slot2 = msg.payload.status2.value;\n}\n\nmsg.payload = slot2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":220,"wires":[["20849d33.f1b2d2"]]},{"id":"be8432fa.0a651","type":"function","z":"c3092910.5750d8","name":"Extract status3 value","func":"if(msg.payload.hasOwnProperty('status3')){\n    var slot3 = msg.payload.status3.value;\n}\n\nmsg.payload = slot3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":280,"wires":[["20849d33.f1b2d2"]]},{"id":"5a2dd3bc.8454ac","type":"function","z":"c3092910.5750d8","name":"Extract status4 value","func":"if(msg.payload.hasOwnProperty('status4')){\n    var slot4 = msg.payload.status4.value;\n}\nmsg.payload = slot4\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":340,"wires":[["20849d33.f1b2d2"]]},{"id":"6f34da61.1fe754","type":"function","z":"c3092910.5750d8","name":"Extract status5 value","func":"if(msg.payload.hasOwnProperty('status5')){\n    var slot5 = msg.payload.status5.value;\n}\nmsg.payload = slot5\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["20849d33.f1b2d2"]]},{"id":"54e47f20.e7ab4","type":"function","z":"c3092910.5750d8","name":"Count free slots Area1","func":"let count = msg.payload[0]+msg.payload[1]+msg.payload[2]+msg.payload[3]+msg.payload[4]\nmsg.payload = {'Number free slots Area 1':count}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":280,"wires":[["3df737e4.54a738"]]},{"id":"61e5326.894a6cc","type":"function","z":"c3092910.5750d8","name":"Extract status1 value","func":"if (msg.payload.hasOwnProperty('status1')){\n    var slot1 = msg.payload.status1.value;\n}\n\nmsg.payload = slot1;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":660,"wires":[["f237a890.32a648"]]},{"id":"f237a890.32a648","type":"join","z":"c3092910.5750d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":780,"wires":[["17fb11b3.2ac40e"]]},{"id":"fb092491.8b3008","type":"function","z":"c3092910.5750d8","name":"Extract status2 value","func":"if (msg.payload.hasOwnProperty('status2')){\n   var slot2 = msg.payload.status2.value;\n}\n\nmsg.payload = slot2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":720,"wires":[["f237a890.32a648"]]},{"id":"4eb2efe9.3e0bb","type":"function","z":"c3092910.5750d8","name":"Extract status3 value","func":"if(msg.payload.hasOwnProperty('status3')){\n    var slot3 = msg.payload.status3.value;\n}\n\nmsg.payload = slot3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":780,"wires":[["f237a890.32a648"]]},{"id":"99f06258.fdf77","type":"function","z":"c3092910.5750d8","name":"Extract status4 value","func":"if(msg.payload.hasOwnProperty('status4')){\n    var slot4 = msg.payload.status4.value;\n}\nmsg.payload = slot4\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":840,"wires":[["f237a890.32a648"]]},{"id":"572a4b01.7a3014","type":"function","z":"c3092910.5750d8","name":"Extract status5 value","func":"if(msg.payload.hasOwnProperty('status5')){\n    var slot5 = msg.payload.status5.value;\n}\nmsg.payload = slot5\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":900,"wires":[["f237a890.32a648"]]},{"id":"17fb11b3.2ac40e","type":"function","z":"c3092910.5750d8","name":"Count free slots Area2","func":"let count = msg.payload[0]+msg.payload[1]+msg.payload[2]+msg.payload[3]+msg.payload[4]\nmsg.payload = {'Number free slots Area 2':count}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":780,"wires":[["3df737e4.54a738"]]},{"id":"3df737e4.54a738","type":"ubidots_out","z":"c3092910.5750d8","name":"","token":"BBFF-4SLaBBOnQWBPFAyKi2ijK3lPxGBRpU","label_device":"","device_label":"system","tier":"educational","tls_checkbox":true,"x":1330,"y":500,"wires":[]},{"id":"80c25c49.feaef","type":"websocket-client","path":"wss://demo.piesocket.com/v3/channel_1?api_key=oCdCMcMPQpbvNjUIzqtvF1d2X2okWpDQj4AwARJuAgtjhzKxVEjQU6IdCjwm&notify_self","tls":"","wholemsg":"false"},{"id":"8c2f51fe.53f5c","type":"websocket-client","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"}]